*.iml
.gradle
/local.properties
.idea/*
!.idea/copyright
.DS_Store
/build
/captures
.externalNativeBuild
ktlint

/functions/.DS_Store
/functions/.vscode
/functions/node_modules/
/functions/coverage/
/functions/sandbox/
/functions/npm_debug.log
/functions/process.pid
/functions/functions.json
/functions/local.txt
/functions/keyfile.json
/functions/translate_apikey.json
/functions/sheets
/functions/doc/
/functions/.nyc_output
/functions/*.log
/functions/config.json
/functions/app.yaml
/functions/test/system/configstore
/functions/test/system/*.log
/functions/test/firebase/
/functions/test/system/test-log.txt
/functions/yarn.lock
/functions/package-lock.json
/functions/photosurfer-aa0ff-7c110eef87c3.json